body {
    margin: 0;
    padding: 0;
    background-color: #F15A50;
}

header {
    margin: 15px 0 0 0;
    width: auto;
    height: 50px;
    background-color: whitesmoke;
}

header nav {
    text-align: right;
    padding: 15px 30px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-family: "Open Sans Condensed";
    padding: 5px;
}

header nav a:hover {
    text-decoration: overline;
    text-decoration-color: lightslategray;
    font-weight:bolder;
}

/* FORSIDE / AFLEVERINGSSITE */

#splash {
    margin: 0;
    background-image: url(img/background_test.jpg);
    background-size: 100%;;
    background-repeat: no-repeat;
    background-color: white;
    height: 55vw;

}

h2 {
    margin: 0;
    padding: 10vw;
    text-align: center;
    font-family: "American Typewriter";
    font-weight: 400;
    font-size: 5vw;
}

#container_splash{
    padding: 0vw 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#flexbox_splash {
    align-content: center;
    flex-basis: 15vw;
    height: 15vw;
    background-color: #49565b;
    cursor:pointer;
    border-radius: 50%;
}

.flexbox_splash1:hover {
    background-color: whitesmoke;
    background-image: url(img/benefits_img_1.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash2:hover {
    background-color: whitesmoke;
    background-image: url(img/app_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash3:hover {
    background-color: whitesmoke;
    background-image: url(img/pitch_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash4:hover {
    background-color: whitesmoke;
    background-image: url(img/proces_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}


h1 {
    font-family: "Open Sans Condensed";
    text-align: center;
    margin: 0;
    padding: 55px 0 0 0;
    text-decoration-line: overline;
}

#benefits {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40vw;
}

#benefits h1 {
    color: whitesmoke;
}

#benefits p {
    padding: 0 175px;
    color: whitesmoke;
    font-family: "Open Sans Condensed";
    text-align: center;
}

#app_link {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40vw;
    background-color: whitesmoke;
}


#app_link p {
    padding: 0 175px;
    text-align: center;
    font-family: "Open Sans Condensed"
}

#pitch_link {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40vw;
}

#pitch_link h1 {
    color: white;
}

#pitch_link p {
    padding: 0 175px;
    text-align: center;
    font-family: "Open Sans Condensed";
    color: white;
}

#procesdokumentation {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40vw;
    background-color: white;
}

#procesdokumentation p {
    padding: 0 175px;
    text-align: center;
    font-family: "Open Sans Condensed"
}

#procesdokumentation a {
    font-family: "Open Sans Condensed";
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

#procesdokumentation a:hover {
    color: darksalmon;
    text-decoration: none;

}


#footer{
    margin: 0 0 15px 0;
    padding: 10px;
    background-color: slategray;
    color: whitesmoke;
    text-align: center;
    font-family: "Open Sans Condensed";
}


/* DOKUMENTATIONSSITE */


#gruppeinformation {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vw;
    background-color: white;
}

#container_gruppeinfo{
    padding: 5vw 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#flexbox_gruppe {
    align-content: center;
    flex-basis: 15vw;
    height: 15vw;
    background-color: #49565b;
    border-radius: 50%;
}

#flexbox_gruppe p {
    color: black;
    font-family: "Open Sans Condensed";
    padding: 15vw 0 0 0;
}

