body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

header {
    margin: 15px 0 0 0;
    width: auto;
    height: 50px;
    background-color: whitesmoke;
}

header nav {
    text-align: right;
    padding: 15px 30px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-family: "Open Sans Condensed";
    padding: 5px;
}

header nav a:hover {
    text-decoration: overline;
    text-decoration-color: lightslategray;
    font-weight:bolder;
}

/* FORSIDE / AFLEVERINGSSITE */

#splash {
    margin: 0;
    background-image: url(img/test.png);
    background-size: 100%;;
    background-repeat: no-repeat;
    background-color: white;
    height: 37vw;

}

h2 {
    margin: 0;
    padding: 15vw 10vw 5vw;
    text-align: center;
    font-family: "DIN Condensed";
    font-weight: lighter;
    font-size: 7vw;
    color: whitesmoke;
}

h3 {
    font-family: "Open Sans Condensed";
    margin: 0;
    padding: 15px 0 0;
    text-align: center;
    font-weight: bolder;

}

#container_splash{
    padding: 0vw 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#flexbox_splash {
    align-content: center;
    flex-basis: 15vw;
    height: 15vw;
    background-color: darkslategrey;
    cursor:pointer;
    border-radius: 50%;
}

.flexbox_splash1:hover {
    background-color: whitesmoke;
    background-image: url(img/benefits_img_1.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash2:hover {
    background-color: whitesmoke;
    background-image: url(img/app_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash3:hover {
    background-color: whitesmoke;
    background-image: url(img/pitch_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash4:hover {
    background-color: whitesmoke;
    background-image: url(img/proces_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}


h1 {
    font-family: "Open Sans Condensed";
    text-align: center;
    margin: 0;
    padding: 55px 0 0 0;
    text-decoration-line: overline;
}

#benefits {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
}

#benefits h1 {
    color: whitesmoke;
}

#benefits p {
    padding: 0 50px;
    color: whitesmoke;
    font-family: "Open Sans Condensed";
    text-align: center;
}

#app_link {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
}


#app_link p {
    padding: 0 50;
    text-align: center;
    font-family: "Open Sans Condensed"
}

#pitch_link {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    background-color: darkslategrey;
}

#pitch_link h1 {
    color: white;
}

#pitch_link p {
    padding: 0 50px;
    text-align: center;
    font-family: "Open Sans Condensed";
    color: white;
}

#procesdokumentation {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 350px;
    background-color: white;
}

#procesdokumentation p {
    padding: 0 50px;
    text-align: center;
    font-family: "Open Sans Condensed"
}

#procesdokumentation a {
    font-family: "Open Sans Condensed";
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

#procesdokumentation a:hover {
    color: cadetblue;
    text-decoration: none;

}


#footer{
    margin: 0 0 15px 0;
    padding: 10px;
    background-color: slategray;
    color: whitesmoke;
    text-align: center;
    font-family: "Open Sans Condensed";
}



/***** DOKUMENTATIONSSITE ******/


/* DAILY SCRUM */


/* PAIN POINT */

#pain_point {
    background-color: whitesmoke
}



/* PERSONA */

#persona {
    background-color: darkslategrey;
}

#persona h1 {
    color: whitesmoke;
}

#persona p {
    font-family: "Open Sans Condensed";
    color: whitesmoke;
    text-align: justify;
    padding: 0 0 2vw;
}

#persona li {
    font-family: "Open Sans Condensed";
    color: whitesmoke;
    padding: 0 0 2vw 0;
}

#container_persona {
    margin: 1vw 10vw 0;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
}

.container_persona1 {
    flex-basis: 50vw;
}

.container_persona2 {
    flex-basis: 40vw;
    flex-basis: 80vw;
}



/* IDEGENERERING */

#idegenerering {
    background-color: whitesmoke;
}

#brainstorming_img {
    background-image: url(img/brainstorming.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 56vw;
    width: 85vw;
    margin: 2vw 8vw 0;
}


#container_skitse {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
}

.container_skitse_1 {
    background-image: url(img/skitse.png);
    background-repeat: no-repeat;
    background-size: 100%;
    flex-basis: 1;
    height: 60vw;
    width: 30vw;
    margin: 2vw 0 0;
}

.container_skitse_2 {
    background-image: url(img/skitse.png);
    background-repeat: no-repeat;
    background-size: 100%;
    flex-basis: 1;
    height: 60vw;
    width: 30vw;
    margin: 2vw 0 0;
}

.container_skitse_3 {
    background-image: url(img/skitse.png);
    background-repeat: no-repeat;
    background-size: 100%;
    flex-basis: 1;
    height: 60vw;
    width: 30vw;
    margin: 2vw 0 0;
}


/* PAPER PROTOTYPE */


/* STORYBOARD */

#storyboard {
    background-color: whitesmoke;
}

/* TEST */

#test {
    background-color: darkslategrey;
}

/* VALG AF IDE */

#valg_af_ide {
    background-color: whitesmoke;
}

#valg_af_ide p {
    font-family: "Open Sans Condensed";
    text-align: justify;
    padding: 2vw 0;
    margin: 1vw 10vw 0;
}

.container_valg_af_ide {
    background-image: url(img/skitse-100.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 55vw;
    width: 85vw;
    margin: 0 8vw;

}


/* AKTIVITETER & FEATURES */


/* STYLETILE */


#styletile {
    background-color: whitesmoke;
}

#styletile img {
    height: 50vw;
    width: 70vw;
    padding: 2vw 15vw 5vw;
}

/* VPC */

#vpc {
    background-color: darkslategrey;
}

/* IDEATE */

#ideate {
    background-color: whitesmoke;
}

/* BMC */


/* DESIGN */

#valg_af_design {
    background-color: whitesmoke;
}

#design_front{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.front_1 {
    margin: 2vw 0 0 0;
    align-content: center;
    flex-basis: 40vw;
    background-image: url(img/design/App_forside.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vw;
}

.front_2 {
    margin: 2vw 0 0 0;
    align-content: center;
    flex-basis: 40vw;
    background-image: url(img/design/App_kea.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vw;
}

#design_moon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.moon_1 {
    margin: 5vw 0 0 3vw;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Moon_menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

.moon_2 {
    margin: 5vw 0 0 0;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Moon_location.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

.moon_3 {
    margin: 5vw 0 0 0;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Moon_events.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

.moon_4 {
    margin: 5vw 0 0 0;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Moon_price.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

.moon_5 {
    margin: 5vw 3.5vw 0 0;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Moon_offer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

#design_monkey{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.monkey_1 {
    margin: -5vw 0 0 3vw;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Monkey_menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

.monkey_2 {
    margin: -5vw 0 0 0;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Monket_location.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

.monkey_3 {
    margin: -5vw 0 0 0;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Monkey_events.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

.monkey_4 {
    margin: -5vw 0 0 0;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Monket_prices.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}

.monkey_5 {
    margin: -5vw 3.5vw 0 0;
    align-content: center;
    flex-basis: 15vw;
    background-image: url(img/design/Monkey_offer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vw;
}


/* UI KITS */

#ui_kits {
    background-color: darkslategrey;
}



/* GRUPPEINFO */


#gruppeinformation {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vw;
    background-color: white;
}

#container_gruppeinfo{
    padding: 5vw 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#flexbox_gruppe {
    align-content: center;
    flex-basis: 15vw;
    height: 15vw;
    background-color: #49565b;
    border-radius: 50%;
}


.flexbox_pers1 {
    background-image: url(img/flotte_mennesker/ida.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.flexbox_pers2 {
    background-image: url(img/flotte_mennesker/mikkel.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.flexbox_pers3 {
    background-image: url(img/flotte_mennesker/nikolaj.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.flexbox_pers4 {
    background-image: url(img/flotte_mennesker/emilie.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}


#flexbox_gruppe p {
    color: black;
    font-family: "Open Sans Condensed";
    padding: 15vw 0 0 0;
    text-align: center;
}
